<h1>Изменить станцию</h1>

<%= form_with(model: @railway_station, url: admin_railway_station_path, method: :patch) do |form| %>
  <%= render "form", form: form %>
<% end %>

<br>

<div>
  <%= link_to "Изменить", admin_railway_station_path(@railway_station) %> 
  <%= link_to "Вернуться", admin_railway_stations_path %>
</div>
