<h1>ЗДАРОВА!</h1>

<p> <%= link_to 'Список станций', admin_railway_stations_path %> </p>
<p> <%= link_to 'Список поездов', admin_trains_path %> </p>
<p> <%= link_to 'Список маршрутов', admin_routes_path %> </p>